#playarea{width:100%;height:100%;
    background-color:black;
    position:absolute;
    top:0%;left:0%;}
.segment,#food{position:absolute;
width:10px;height:10px;}
.segment{background-color:green;}
#food{background-color:#f00;}
#alert{
    width: 200px;
    height: 150px;
    background-color: rgba(20,20,20,0);
    color: white;
    text-align: center;
    position: absolute;
    top:50%;left: 50%;
    transform: translate(-50%,-50%);
}